h1{
  font-weight: bold;
  font-size: 5.5em;
  color: #da467d;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  font-style:normal;

}
hr{
  opacity: 0.1;
  color: #eee;
}
body{
  background-color: #BDA0CB;
  color: black;
  text-align: center;
}
.center_pg{
  font-size: 2.4em;
  font-family: monospace;
  font-style: oblique 40deg;
}
.error {
  background-color: lightcoral;

}
#typed-value{
  width: 40%;
  border-radius: 2rem 2rem 2rem 2rem;
  height: 30px;
}
.highlight{

  background-color: yellow;
}
